@media screen and (max-width 450px)
  #organizationPanel
    overflow-x hidden
    .organization-title
      text-align center
    .organization-content
      overflow-x hidden
      .organization-item
        width 100% !important

  #dailyPanel
    .record-section
      min-width 400px

  #loginPanel
    .login-card
      min-width 90%
    p
      display none