// 基础配色
$white-color = #ffffff

$base-bg-color = #f5f5f5
$base-bd-color = #dcdee2

$hover-bg-color = #f0faff
$hover-text-color = #5cadff

$primary-color = #2d8cf0
$l-primary-color = #5cadff
$d-primary-color = #2b85e4

$info-color = #2db7f5
$success-color = #19be6b
$warning-color = #ff9900
$error-color = #ed4014

$title-color = #17233d
$content-color = #515a6e
$sub-color = #808695
$disabled-color = #c5c8ce
$bd-color = #dcdee2
$dd-color = #e8eaec
$bg-color = #f8f8f9

// 文字大小
$small-size = 12px
$normal-size = 14px
$secondary-size = 16px
$middle-size = 18px
$large-size = 20px
$huge-size = 30px

// 边框圆角
$radius-size = 5px